---
import Layout from "../layouts/Layout.astro";
import "@carbon/charts-react/styles.css";
import StackedAreaCharts from "../components/charts/StackedAreaCharts";
import PieCharts from "../components/charts/PieCharts";
import LineCharts from "../components/charts/LineCharts";
---

<Layout title="Welcome to Astro.">
  <main>
    <StackedAreaCharts client:load />
    <PieCharts client:load />
    <LineCharts client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }
</style>
